<div class="body">
<div align="center">
	<h2></h2>
</div>

<div align="right">
	<button type="button" class="btn btn-primary" (click)="add()">
  NewResources <span class="badge badge-light">{{toBeAdded}}</span>
</button>
</div>
<div class="example-container" >
	<form class="example-form" align="center">
		<mat-form-field class="example-full-width">
		<i class="fa fa-search" style="font-size:30px;color:#109be0;" aria-hidden="true"></i>	

			<input type="text" class="color"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
			<mat-autocomplete #auto="matAutocomplete" (optionSelected)='search($event)'>
				<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
					{{option}}
				</mat-option>
				<mat-option [value]=default>
					All
				</mat-option>
			</mat-autocomplete>

		</mat-form-field>

	</form>
</div>


<!-- <div class="row justify-content-center" >
<div class="col-auto mb-4" *ngFor="let resource of resources">
		
    <div class="card" style="width: 25rem; height:100%;">
  
 <img class="card-img-top" src="{{resource.resImg}}" alt="Card image cap" >
			 <div class="card-body">
				<h5 class="card-title">{{resource.resTech}}</h5>
				<h6 class="card-title">{{resource.resName}}</h6>
				<a align="left" href="#" class="btn btn-primary">{{resource.resType}}</a>
		
				<a   align="right" href="#" class="btn btn-primary">{{resource.resUrl}}</a>
		
				<br>
				<input type="checkbox" #checkboxes  value="{{resource.resName}}"  (change)="checked($event)" >
				</div>

			</div>


		</div>

	</div>
</div> -->
<div class="row justify-content-center" >

 <div  *ngFor="let resource of resources" >


  <div class="column"  class="col-auto mb-4"> 
  <figure  class="snip1581" style="width: 28rem; height:50%; ">

   <div class="layer"> <!-- Block parent element -->
      <img src="https://userspringboot.herokuapp.com/images/icons8-python-128%20(2).png" style="padding:70px;"  alt="John Doe">
     <!-- <div class="imgc"></div> -->
    </div>
  
  
    <!-- <img  src="https://userspringboot.herokuapp.com/images/icons8-python-64.png" class="imgc"  alt="Avatar" > -->
   
  <div class="container">
  <b>{{resource.resTech}}</b>
  <p>{{resource.resName}}</p>

 
	<a align="left" href="#" class="btn btn-primary">{{resource.resType}}</a>
  	<a   align="right" href="#" class="btn btn-primary">{{resource.resUrl}}</a>
		
				<br>
				<input type="checkbox" #checkboxes  value="{{resource.resName}}"  (change)="checked($event)" >
  </div>
  
  </figure>

  </div>
</div>
</div> 