
<div align="center">
	<h2> Learning Management System!!!</h2>
</div>

<div align="right" >
<button type="button" class="btn btn-primary" (click)="add()">
  NewResources <span class="badge badge-light">{{toBeAdded}}</span>
</button>
</div>

<!-- <div class="row">
    <div  class="col-md-4 col-sm-6 col-12" *ngFor="let resource of resources" >
<div class="card" style="width: 18rem;" >
 
  	<div class="card-body">
					<h5 class="card-title">{{resource.resTech}}</h5>
					<h6 class="card-title">{{resource.resName}}</h6>
					<a href="#" class="btn btn-primary">{{resource.resType}}</a>
					<br>
					<br>
					<a href="#" class="btn btn-primary">{{resource.resUrl}}</a>
				</div>
       
</div>
 
</div>
</div> -->
<div class="row" style=" padding: 70px;">
  <div class="col-4" >
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Java 1</h5>
     <h6 class="card-title">Java </h6>
    <p class="card-text">Latest Java Features</p>
  </div>
  
  <div class="card-body">
   <input type="checkbox"  value="Java 1" (change)="checked($event)" >
    
  </div>
</div>
</div>
 <div class="col-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Java Script 1</h5>
     <h6 class="card-title">Java Script </h6>
    <p class="card-text">Latest Java Script Features</p>
  </div>
  
  
    <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
     <div class="card-body">
   <input type="checkbox" style="background:green"  value="Java Script 1" (change)="checked($event)" >
 
  </div>
</div>
</div>
 <div class="col-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Angular 1</h5>
     <h6 class="card-title">Angular </h6>
    <p class="card-text">Latest Angular Features</p>
  </div>
  <div >
   <input type="checkbox"  value="Angular 1" (change)="checked($event)" >
</div>
  </div>
</div>
</div>
<div class="row" style=" padding: 70px;">
<div class="col-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Spring Boot 1</h5>
     <h6 class="card-title">Spring Boot </h6>
    <p class="card-text">Latest Spring Boot Features</p>
  </div>
  
  <div class="card-body">
   <input type="checkbox"  value="Spring Boot 1" (change)="checked($event)" >
  </div>
  </div>
</div>
</div>