<div align="center">
	<h2> Learning Management System!!!</h2>
</div>

<div align="right">
	<button type="button" class="btn btn-primary" (click)="add()">
  NewResources <span class="badge badge-light">{{toBeAdded}}</span>
</button>
</div>
<div class="example-container">
	<form class="example-form">
		<mat-form-field class="example-full-width">
			<h4>Auto complete:</h4>

			<input type="text" class="color"

           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
			<mat-autocomplete #auto="matAutocomplete" (optionSelected)='search($event)'>
				<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
					{{option}}
				</mat-option>
				<mat-option [value]=default>
					All
				</mat-option>
			</mat-autocomplete>

		</mat-form-field>

	</form>
</div>

<div class="row">
	<div class="col-md-4 col-sm-6 col-12" *ngFor="let resource of resources">
		<div class="card" style="width: 18rem;">


			<div class="card-body">
				<h5 class="card-title">{{resource.resTech}}</h5>
				<h6 class="card-title">{{resource.resName}}</h6>
				<a href="#" class="btn btn-primary">{{resource.resType}}</a>
				<br>
				<br>
				<a href="#" class="btn btn-primary">{{resource.resUrl}}</a>
				<br>
				<input type="checkbox"  value="{{resource.resName}}"  (change)="checked($event)" >
				</div>

			</div>


		</div>
	</div>