<body>

<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div style="margin-top:1px">
			<img src="https://userspringboot.herokuapp.com/images/d11d471e07bee396-animated-fire-icon-clipart-best.gif" style="width:40%;margin-left:10px">   <div class="text-block">
        <ul>
         
            <h4 style="font-size:30px;  ">CODE - LIT</h4>
            
           
            
          </ul>
    
    
  </div>
		</div>
<br>
		<!-- Login Form -->
		<form #myForm="ngForm" class="form-horizontal" (submit)="login()">
			<div class="field input-field">
				<input type="email" id="userEmail" class="fadeIn third" name="userEmail" placeholder=" Your Email" [(ngModel)]="model.userEmail" required>
     </div>
				<input type="password" id="userPassword" class="fadeIn second" name="userPassword" placeholder="Your Password"
       [(ngModel)]="model.userPassword" required>
				<button type="submit" class="fadeIn fourth" value="Log In" [disabled]="!model.userEmail||!model.userPassword">Log In</button>
		</form>

		<!-- New User -->
		<div id="formFooter">
			<!-- <button type="button" (click)="register()"><h4>New User?</h4></button> -->

			<a [routerLink]="'/register'" routerLinkActive="active">
				<h4>New Lit?</h4>
			</a>

		</div>

	</div>
</div>
</body>