
  <mat-toolbar color="primary" class="mat-elevation-z6 tbar" >
  
<mat-slide-toggle (change)="getMode($event)">Dark Mode</mat-slide-toggle>
<span class="spacer"></span>

  <div style="top:50px;">
  <i class="fa fa-paper-plane-o" aria-hidden="true" style="font-size:34px;padding:23px;top:10px;"><span aria-hidden="true" style="font-size:28px;padding:10px;font-size:30px;">LMS </span></i>
	<span class="bspacer"></span>
  </div>
	<div fxShow="true" fxHide.lt-md="true">
		<button mat-button ><i class="fa fa-github" style="font-size:28px"></i></button>
    <button mat-button >	<i class="fa fa-git" style="font-size:25px"></i></button>

		<!-- <a mat-button routerLink="/start-page">Start page</a>
      <a mat-button routerLink="/offer">Offer</a> -->
		<!-- <a mat-button routerLink="/contact">Contact</a> -->
	</div>
</mat-toolbar>

<div id="mySidenav" class="sidenav">
    <button mat-button id="projects" (click)="getRes()"><i class="fa fa-list fa-2x" style="font-size:20px;color:white;" aria-hidden="true">  </i></button>
   <button mat-button id="contact" (click)="getHome()"><i class="fa fa-home" style="font-size:20px;color:white;" aria-hidden="true" ></i> 
</button> 
<button mat-button id="blog" (click)="getRes()"><i class="fa fa-laptop fa-2x" style="font-size:20px;color:white;" aria-hidden="true">  </i></button>

  
 

</div>


<router-outlet></router-outlet>
