<mat-toolbar color="primary">


	<span >LMS </span>

	<span class="spacer"></span>
	<div fxShow="true" fxHide.gt-sm="true">
		<button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon></mat-icon>
      </button>
	</div>
	<span class="bspacer"></span>
	<div fxShow="true" fxHide.lt-md="true">
		<button mat-button ><i class="fa fa-github" style="font-size:28px"></i></button>
    <button mat-button >	<i class="fa fa-git" style="font-size:2px"></i></button>

		<!-- <a mat-button routerLink="/start-page">Start page</a>
      <a mat-button routerLink="/offer">Offer</a> -->
		<!-- <a mat-button routerLink="/contact">Contact</a> -->
	</div>
</mat-toolbar>

<nav class="main-menu">
	<ul>


		<i class="fa fa-cogs fa-2x" aria-hidden="true" style="font-size:28px;color:white;"><p style="font-size:20px;">LMS </p></i>
		<!-- <p style="color:#3F51B5" class="dspacer">lms</p> -->
		

	</ul>
	<ul>

		<li>
			<button mat-button (click)="getHome()"><i class="fa fa-home" style="font-size:20px;color:white;" aria-hidden="true" ></i> 
</button> <span class="text">
                          Dashboard
                        </span>

		</li>
		<li class="has-subnav">
			<button mat-button (click)="getRes()"><i class="fa fa-laptop fa-2x" style="font-size:20px;color:white;" aria-hidden="true">  </i></button><span class="text">
                          Resources
                        </span>

		</li>
		<li class="has-subnav">
			<button mat-button (click)="getRes()"><i class="fa fa-list fa-2x" style="font-size:20px;color:white;" aria-hidden="true">  </i></button><span class="text">
                          Subscribe
                        </span>

		</li>
		<!-- <li class="has-subnav">
			<a href="#">
				<i class="fa fa-folder-open fa-2x"></i>
				<span class="nav-text">
                            Pages
                        </span>
			</a>

		</li>
		<li>
			<a href="#">
				<i class="fa fa-bar-chart-o fa-2x"></i>
				<span class="nav-text">
                            Graphs and Statistics
                        </span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-font fa-2x"></i>
				<span class="nav-text">
                           Quotes
                        </span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-table fa-2x"></i>
				<span class="nav-text">
                            Tables
                        </span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-map-marker fa-2x"></i>
				<span class="nav-text">
                            Maps
                        </span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-info fa-2x"></i>
				<span class="nav-text">
                            Documentation
                        </span>
			</a>
		</li> -->
	</ul>

	<ul class="logout">
		<li>
			<a href="#">
				<i class="fa fa-power-off fa-2x"></i>
				<span class="nav-text">

                        </span>
			</a>
		</li>
	</ul>
</nav>



<router-outlet></router-outlet>