

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.body{
  /* background: rgba(0, 0, 0, 0.829); */
    /* background: rgb(161, 153, 153);
    light ,plugin plugout */
}
.main {
  margin-left: 16px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

.spacer{
  padding:190px;
}
.bspacer{
  padding:205px;
}
.dsapcer{
top: 64px;
}

#mySidenav button {
  position: fixed;
  left: -60px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav button:hover {
  left: 0;
}

#contact {
  top: 200px;
  background-color: #555;
}

#blog {
  top: 275px;
  background-color: #2196F3;
}

#projects {
  top: 355px;
  background-color: #f44336;
}

