

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.body{
  /* background: rgba(0, 0, 0, 0.829); */
    /* background: rgb(161, 153, 153);
    light ,plugin plugout */
}
.main {
  margin-left: 16px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}
.text-block {
  position: absolute;
  top: 9px;
 
 font-size:30px;
  color: white;
 
  
}
.spacer{
  padding:140px;
}
.bspacer{
  padding:1px;
}
.dsapcer{
top: 64px;
}

#mySidenav button {
  position: fixed;
  left: -60px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav button:hover {
  left: 0;
}

#contact {
  top: 100px;
  background-color: #555;
}

#blog {
  top: 175px;
  background-color: #2196F3;
}

#projects {
  top: 255px;
  background-color: #f44336;
}
#hack {
  top: 340px;
  background-color: #f5af19;
}
#about {
  top: 425px;
  background-color: green;
}
