

<div align="center">
<h2 style="padding:20px;"> </h2>
</div>
<section class="testimonial py-5" id="testimonial" style="margin-left:150px">
    <div class="container" >
        <div class="row ">
            <div class="col-md-4 py-5 bg-primary text-white text-center " id="img">
              
                    <div class="card-body">
                        <!-- <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%"> -->
                        <!-- <h2 class="py-3">Registration</h2>
                        <p> Upgrade your technical skills with our Learning Management System !!!

</p> -->
                    </div>
              
            </div>
            <div class="col-md-6 py-5 border"  style="text-align:center" >
                <h4 class="pb-4">Please fill with your details</h4>
                <div  >
                <form #myForm="ngForm" class="form-horizontal " (ngSubmit)="register()">
                    <div class="form-row"  align="center">
                        <div class="form-group col-md-6 " style="left:20px">
                          <input  name="userName"  class="form-control" type="text" [(ngModel)]="model.userName" required placeholder="Your Name">
                        </div>
                    </div>
                      <div class="form-row"  align="center" >
                        <div class="form-group col-md-6" style="left:20px">
                          <input type="email"  name="userEmail" class="form-control" [(ngModel)]="model.userEmail"  required
                          placeholder="Your Email">
                        </div>
                      </div>
                       <div class="form-row">
                        <div class="form-group col-md-6" style="left:20px">
                          <input type="password"  name="userPassword" class="form-control" [(ngModel)]="model.userPassword"  required
                          placeholder="Your Password">
                        </div>
                      </div>
                       <div class="form-row">
                        <div class="form-group col-md-6" style="left:20px">
                          <input type="password"  name="conformPassword" class="form-control" [(ngModel)]="conformPassword"   required
                          placeholder="Conform Password">
                        </div>
                      </div>
                 
                    <div class="form-row">
                        <div class="form-group">
                            <div class="form-group">
                                <div class="form-check">
                                 
                                </div>
                              </div>
                    
                          </div>
                    </div>
                    
                    <div class="form-row" align="center">
                      <div style="padding:10px">
                        <button type="submit" class="btn btn-danger" >Submit</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>
