h4 {
   display: flex;
   font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
 color: #109be0;
}
.link{
  color: white;
}
.example-spacer{
   padding: 0 14px;
}
