<nav class="navbar navbar-dark bg-primary">
	<a class="navbar-brand" href="#">
		LMS
	</a>
	<a [routerLink]="'/register'" routerLinkActive="active" class="link" href="#">Item1
		<span class="sr-only">(current)</span></a>
	<a [routerLink]="'/register'" routerLinkActive="active" class="link" href="#">Item2
		<span class="sr-only">(current)</span></a>
	<a [routerLink]="'/register'" routerLinkActive="active" class="link" href="#">Item3
		<span class="sr-only">(current)</span></a>
	<a [routerLink]="'/register'" routerLinkActive="active" class="link" href="#">Item4
		<span class="sr-only">(current)</span></a>
	<a [routerLink]="'/register'" routerLinkActive="active" class="link" href="#">Disabled</a>

	<form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="search" placeholder="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form>

	<button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>






</nav>