

 
<div class="home">
  <div class="popover__wrapper">
<button type="button" class="btn btn-primary"  style="margin-right:36px;" >History</button>
  <div class="popover__content">
    <p class="popover__message">Shows your History.</p>
    
  </div>
  </div>
   <div class="popover__wrapper">
<button type="button" class="btn btn-primary" style="margin-right:36px;" >Certificates</button>
  <div class="popover__content">
    <p class="popover__message">Have certificates with practical knowledge</p>
    <!-- Not just learn have practical knowledge -->
  </div>
  </div>
    <div class="popover__wrapper">
<button type="button" class="btn btn-primary" >your Lit</button>
  <div class="popover__content">
    <p class="popover__message">Post your own solutions and techniques of code.</p>
    </div>
  </div>
</div>





 <div style="padding:10px;text-align:center">
  <img src="https://userspringboot.herokuapp.com/images/dashboard.png" >
  </div>
  

