<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <script>
   
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});

  </script> 
</head>
<body>
 
<div class="home">
  <div class="popover__wrapper">
<button type="button" class="btn btn-primary"  style="margin-right:36px;" >History</button>
  <div class="popover__content">
    <p class="popover__message">Shows your History.</p>
    
  </div>
  </div>
   <div class="popover__wrapper">
<button type="button" class="btn btn-primary" style="margin-right:36px;" >Certificates</button>
  <div class="popover__content">
    <p class="popover__message">Have certificates with practical knowledge</p>
    <!-- Not just learn have practical knowledge -->
  </div>
  </div>
    <div class="popover__wrapper">
<button type="button" class="btn btn-primary" >your Lit</button>
  <div class="popover__content">
    <p class="popover__message">Post your own solutions and techniques of code.</p>
    </div>
  </div>
</div>





 <div style="padding:10px;text-align:center">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSXLwcqdOGJtvKN7ukK4B0oTKQwJjh9T3DGcjOTWXgt6Jv0-iaQ&usqp=CAU" >
  </div>
  

</body></html>